body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  text-align: center;
}

.address-form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  .zip-code-sign {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .zip-code-container {
    display: grid;
    grid-template-columns: max-content max-content;
  }

  .p-postal-code, .p-extended-address {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0056b3;
    }
  }
}
